{% macro render(
    label='',
    input_class='',
    container_class='',
    helper='', placeholder='',
    onClick=None
    ) %}
    <div class="relative mt-3 {{ container_class }}">
        {% if label %}<label class="input_label">{{ label }}</label>{% endif %}
        <div class="relative">
            <input type="password"
                   placeholder="{{ placeholder }}"
                   class="input !pr-11 {{ input_class }}" />
            <!-- <div onclick="this.previousElementSibling.type = this.previousElementSibling.type === 'password' ? 'text' : 'password'; this.innerHTML = this.innerHTML === '{{ eye_icon|safe }}' ? '{{ slashed_eye_icon|safe }}' : '{{ eye_icon|safe }}';" class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer">{{ eye_icon|safe }}</div> -->
        </div>
        {% if helper %}<div class="mt-1 text-sm text-gray-600">{{ helper }}</div>{% endif %}
    </div>
{% endmacro %}
